@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka;
}

/* wrapper
-------------------------------------------*/
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* lettar-spacing
-------------------------------------------*/
nav a,
footer a {
  letter-spacing: 1px;
}

section > h2 {
  font-size: 3em;
  text-align: center;
  margin: 5% 0;
}

/* nav
-------------------------------------------*/
header {
  background-color: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
  max-width: 1440px;
  height: 60px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__list a {
  display: block;
  font-size: 1.4em;
  color: #000;
  line-height: 60px;
}

.nav__list a:hover {
  text-decoration: underline;
}

/* main
-------------------------------------------*/
.topContainer {
  background: url(../images/top-view.jpg) no-repeat;
  background-size: cover;
  background-position-y: 60px;
  width: 100%;
  height: 85vh;
  padding-top: 60px;
  position: relative;
}

.topContainer__img img {
  width: 100%;
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* section,common
-------------------------------------------*/
section {
  padding: 10% 4%;
}

/* section.concept
-------------------------------------------*/
.concept__ja {
  font-size: 0.5em;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: normal;
}

.concept__text {
  font-size: 2rem;
  line-height: 3em;
  text-align: center;
}

/* section.lineUp
-------------------------------------------*/
.lineUp {
  background-image: url(../images/lineUp-back.jpg);
}

.lineUp__ja {
  font-size: 0.5em;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: normal;
}

.lineUp__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lineUp__card {
  padding: 2%;
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.lineUp img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.lineUp h3 {
  font-size: 1.4em;
  font-weight: normal;
  padding: 3% 0;
}

.lineUp__text {
  font-size: 1.2em;
  text-align: justify;
  letter-spacing: .5px;
}

/* section.storeService
-------------------------------------------*/
.storeService__ja {
  font-size: 0.5em;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: normal;
}

.storeService__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.storeService__card {
  padding: 2%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.storeService img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.storeService h3 {
  font-size: 1.4em;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
}

.storeService__text {
  font-size: 1.2em;
  text-align: justify;
  letter-spacing: .5px;
}

/* section.catalog
-------------------------------------------*/
.catalog {
  background-color: #f0ece6;
  padding-top: 40px;
}

.catalog__ja {
  font-size: 0.5em;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: normal;
}

.catalog__box {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.catalog__box img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.catalog__txt {
  font-size: 1.6em;
  line-height: 2em;
  padding-bottom: 5%;
}

/* form
-------------------------------------------*/
.form-box {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.form-box h3 {
  text-align: center;
  font-size: 2.2em;
  font-weight: normal;
  margin: 40px;
}

.required-txt {
  background-color: #ff4444;
  color: #fff;
  font-size: .6em;
  width: 20px;
  padding: 5px;
  border-radius: 5px;
  float: right;
}

table {
  margin: 0 auto;
  table-layout: auto;
  width: 100%;
  font-size: 1.6em;
}

tbody {
  vertical-align: middle;
}

th {
  padding: 10px;
  width: 30%;
}

td {
  padding: 10px;
}

select {
  width: calc(100% / 5);
}

.submit-btn {
  text-align: center;
  width: 70%;
  margin-left: 30%;
  margin-top: 3%;
}

input[type="text"], input[type="email"] {
  padding-left: 1em;
  width: calc(100% - 1em);
  height: 40px;
  font-size: .9em;
}

input[type="submit"] {
  width: 90%;
  font-size: 1.6em;
  height: 60px;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #9c9c9f;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #9c9c9f;
  border: 2px solid #fff;
  color: #fff;
}

textarea {
  width: calc(100% - 1em);
  height: 100px;
  font-size: 1.3em;
  padding-top: 0.5em;
  padding-left: 1em;
  resize: none;
  overflow-y: scroll;
}

/* section.movie
-------------------------------------------*/
.movie__ja {
  font-size: 0.5em;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: normal;
}

.movie__box {
  text-align: center;
}

.movie__box video {
  width: 100%;
  max-width: 622px;
  height: auto;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

/* section.access
-------------------------------------------*/
.access__ja {
  font-size: 0.5em;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: normal;
}

.access__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.access__list {
  width: 50%;
  text-align: center;
}

.access address dt {
  margin-bottom: 20px;
}

.access address dd {
  font-size: 1.6em;
  line-height: 2.2em;
}

.access__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
}

.access__sns a {
  display: block;
  color: #000;
  margin: 0 2.5em;
}

.access__sns a:hover {
  color: #e6e5ef;
}

.access__map {
  width: 50%;
}

/* hr
-------------------------------------------*/
hr {
  clear: both;
  height: 1px;
  background-color: #cecece;
  border: none;
  margin-bottom: 70px;
}

/* footer
-------------------------------------------*/
footer {
  height: 100px;
  text-align: center;
  position: relative;
}

footer .footer-nav {
  margin-bottom: 50px;
}

footer ul li {
  width: calc(100% / 3);
  float: left;
}

footer ul li a {
  display: block;
  color: #918d8d;
  font-size: 0.75em;
  border-right: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer ul li a:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #000;
  font-weight: bold;
}

footer ul li:last-child a {
  border-right: none;
}

/* pagetop
-------------------------------------------*/
.to-top {
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  color: #fff;
  background: #9c9c9f;
  cursor: pointer;
  border-radius: 50%;
}

/* max-width:768px
-------------------------------------------*/
@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
  .form-box {
    width: auto;
  }
  .required-txt {
    float: none;
    margin-left: 1em;
  }
  .block {
    display: block;
  }
  .block th {
    display: block;
    width: auto;
  }
  .block td,
  .block tbody {
    display: block;
  }
  .block tr {
    display: block;
    margin-bottom: 10px;
  }
  th.none {
    display: none;
  }
  .submit-btn {
    width: 100%;
    margin-left: 0;
  }
  input[type="submit"] {
    font-size: 16px;
    width: 80%;
  }
  address dd {
    font-size: 16px;
  }
  .access__inner {
    display: block;
  }
  .access__list {
    width: 100%;
  }
  .access__sns {
    padding-bottom: 5%;
  }
  .access__map {
    width: 100%;
  }
}

/* max-width: 480px
-------------------------------------------*/
@media screen and (max-width: 480px) {
  .nav__list {
    display: block;
  }
  .nav__list a {
    font-size: 15px;
    text-align: center;
  }
  section > h2 {
    font-size: 25px;
    margin: 20px;
  }
  h3 {
    text-align: initial;
  }
  .concept__text {
    font-size: 16px;
  }
  .lineUp__inner {
    display: block;
  }
  .lineUp__card {
    width: calc(100% - 4%);
  }
  .storeService__inner {
    display: block;
  }
  .storeService__card {
    width: calc(100% - 4%);
  }
  p.catalog-txt {
    font-size: 16px;
    padding: 0 30px;
  }
  .catalog__box {
    max-width: 480px;
  }
  .catalog__box img {
    width: 100%;
    height: auto;
  }
  .form-box h3 {
    font-size: 20px;
    margin: 40px 0;
  }
  table {
    font-size: 12px;
  }
  th {
    font-size: 14px;
    padding: 0;
  }
  td {
    padding: 10px 0;
  }
  input[type="submit"] {
    font-size: 14px;
    width: 100%;
    color: #000;
    height: 60px;
    border-radius: 30px;
    background: #fff;
  }
  input[type="submit"]:hover {
    color: #000;
    background: #fff;
  }
  footer ul li a {
    font-size: 10px;
    color: #000;
  }
  .to-top {
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */